Repository gl-cli/glab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

check_go_generated_code:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: test
  needs: []
  script:
  - chmod 600 internal/config/config.yaml.lock
  - make generate
  ...

lint:
  stage: test
  image: ${GITLAB_DEPENDENCY_PROXY}golangci/golangci-lint:v$GOLANGCI_LINT_VERSION
  script:
  - golangci-lint run --output.text.path=stdout --output.text.colors=false --output.text.print-issued-lines=false --output.code-climate.path=gl-code-quality-report.json
  artifacts:
    reports:
  ...

run_tests:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
    CGO_ENABLED: '1'
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: test
  script:
  ...

release_test:
  image: ${GITLAB_DEPENDENCY_PROXY}docker:stable
  stage: release
  artifacts:
    expire_in: 1 week
    name: goreleaser-artifacts
    paths:
    - dist/
  variables:
    GCLOUD_PROJECT: gitlab-ci-runners-signing
    SERVICE_ACCOUNT: gitlab-cli-signer@gitlab-ci-runners-signing.iam.gserviceaccount.com
  ...

windows_installer:
  stage: release
  image:
    name: amake/innosetup
    entrypoint:
    - ''
  before_script:
  - - "if [ -d \"signed/\" ]; then\n  echo \"Using signed binaries\"\n  rm -rf bin/\n  mv signed bin\n  ls -al bin\nelse\n  echo \"Using unsigned binaries\"\nfi\n"
  script:
  - mv scripts/setup_windows.iss .
  ...

build_windows:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: release
  needs: []
  script:
  - GOOS=windows GOARCH=amd64 make build
  - mv bin/glab bin/glab.exe
  ...

feat(milestone): added create, list and get commands
  docs/source/_index.md
  docs/source/milestone/_index.md
  docs/source/milestone/create.md
  docs/source/milestone/get.md
  docs/source/milestone/list.md
  internal/commands/milestone/create/create.go
  internal/commands/milestone/create/create_test.go
  internal/commands/milestone/get/get.go
  internal/commands/milestone/get/get_test.go
  internal/commands/milestone/list/list.go
  internal/commands/milestone/list/list_test.go
  internal/commands/milestone/milestone.go
  internal/commands/milestone/milestone_test.go
  internal/commands/root.go
  internal/commands/ssh-key/list/list_test.go
  internal/utils/utils.go
Due: check_go_generated_code, lint, run_tests

fix(docs): update the documentation
  README.md
Due: none

feat(milestone): edit and delete milestone
  internal/commands/milestone/delete/delete.go
  internal/commands/milestone/delete/delete_test.go
  internal/commands/milestone/edit/edit.go
  internal/commands/milestone/edit/edit_test.go
  internal/commands/milestone/milestone.go
  internal/commands/milestone/milestone_test.go
Due: check_go_generated_code, lint, run_tests

revert push
  internal/commands/gpg-key/delete/delete.go
  internal/commands/gpg-key/delete/delete_test.go
  internal/commands/label/delete/label_delete.go
  internal/commands/label/delete/label_delete_test.go
  internal/commands/label/edit/label_edit.go
  internal/commands/label/edit/label_edit_test.go
Due: check_go_generated_code, lint, run_tests

Revert "feat(milestone): edit and delete milestone"
  internal/commands/milestone/delete/delete.go
  internal/commands/milestone/delete/delete_test.go
  internal/commands/milestone/edit/edit.go
  internal/commands/milestone/edit/edit_test.go
  internal/commands/milestone/milestone.go
  internal/commands/milestone/milestone_test.go
Due: check_go_generated_code, lint, run_tests

fix: Revert "feat(milestone): edit and delete milestone"
  internal/commands/milestone/delete/delete.go
  internal/commands/milestone/delete/delete_test.go
  internal/commands/milestone/edit/edit.go
  internal/commands/milestone/edit/edit_test.go
  internal/commands/milestone/milestone.go
  internal/commands/milestone/milestone_test.go
Due: check_go_generated_code, lint, run_tests

ci(tests): speed up tests execution by using cache
  .gitlab-ci.yml
  Makefile
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

feat(milestone): edit and delete
  docs/source/milestone/_index.md
  docs/source/milestone/delete.md
  docs/source/milestone/edit.md
  internal/commands/milestone/delete/delete.go
  internal/commands/milestone/delete/delete_test.go
  internal/commands/milestone/edit/edit.go
  internal/commands/milestone/edit/edit_test.go
  internal/commands/milestone/milestone.go
  internal/commands/milestone/milestone_test.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module golang.org/x/oauth2 to v0.33.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update module golang.org/x/sync to v0.18.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore: pin dind version for API mismatch
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(deps): update module golang.org/x/crypto to v0.44.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

docs(duo): improve documentation for duo and duo ask commands
  docs/source/duo/_index.md
  docs/source/duo/ask.md
  internal/commands/duo/ask/ask.go
  internal/commands/duo/duo.go
Due: check_go_generated_code, lint, run_tests

feat: migrate survey prompts to huh (phase 2)
  internal/commands/mr/merge/mr_merge.go
  internal/commands/mr/update/mr_update.go
  internal/iostreams/iostreams.go
Due: check_go_generated_code, lint, run_tests

chore: publish to snapcraft edge on tag release
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(deps): update module k8s.io/apimachinery to v0.34.2
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore: add lefthook configuration and bootstrap tools command
  .gitignore
  .tool-versions
  CONTRIBUTING.md
  Makefile
  lefthook.yml
  scripts/commit-lint/.commitlintrc.js
  scripts/commit-lint/package-lock.json
  scripts/commit-lint/package.json
Due: check_go_generated_code, lint, run_tests

chore(deps): update module k8s.io/client-go to v0.34.2
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update module gitlab.com/gitlab-org/api/client-go to v0.160.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update dependency @commitlint/cli to ^20.1.0
  scripts/commit-lint/package-lock.json
  scripts/commit-lint/package.json
Due: check_go_generated_code, lint, run_tests

chore(deps): update dependency markdownlint-cli2 to v0.19.0
  .tool-versions
Due: none

chore(deps): update dependency golangci-lint to v2.6.2
  .tool-versions
Due: none

chore(deps): update module github.com/docker/cli to v29
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update module github.com/google/renameio/v2 to v2.0.1
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update module github.com/docker/cli to v29.0.2+incompatible
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore: fix typos in tests
  internal/commands/changelog/generate/changelog_generate_test.go
  internal/commands/cluster/agent/get_token/file_mutex_test.go
  internal/commands/mr/create/mr_create.go
  internal/commands/variable/set/set_test.go
  internal/commands/variable/update/update_test.go
  internal/git/url_test.go
Due: check_go_generated_code, lint, run_tests

fix: resource leaks in file handles and HTTP response bodies
  internal/cmdutils/cmdutils.go
  internal/commands/api/api.go
  internal/commands/job/artifact/logic.go
Due: check_go_generated_code, lint, run_tests

chore: update docs for mcp configuration
  docs/source/mcp/serve.md
  internal/commands/mcp/serve/serve.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module github.com/gdamore/tcell/v2 to v2.10.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

feat(token-cache): add token-cache commands for GitLab Agent tokens
  docs/source/cluster/agent/_index.md
  docs/source/cluster/agent/token-cache.md
  docs/source/cluster/agent/token-cache/_index.md
  docs/source/cluster/agent/token-cache/clear.md
  docs/source/cluster/agent/token-cache/list.md
  internal/commands/cluster/agent/agent.go
  internal/commands/cluster/agent/agentutils/token_cache_utils.go
  internal/commands/cluster/agent/agentutils/token_cache_utils_test.go
  internal/commands/cluster/agent/token_cache/clear/clear.go
  internal/commands/cluster/agent/token_cache/clear/clear_command_test.go
  internal/commands/cluster/agent/token_cache/clear/clear_test.go
  internal/commands/cluster/agent/token_cache/clear/long.md
  internal/commands/cluster/agent/token_cache/list/list.go
  internal/commands/cluster/agent/token_cache/list/list_command_test.go
  internal/commands/cluster/agent/token_cache/list/list_test.go
  internal/commands/cluster/agent/token_cache/list/long.md
  internal/commands/cluster/agent/token_cache/token_cache.go
  internal/commands/cluster/agent/token_cache/token_cache_test.go
Due: check_go_generated_code, lint, run_tests

fix: create config directory earlier in init
  internal/config/config_file.go
  internal/config/writefile.go
Due: check_go_generated_code, lint, run_tests

chore: refactor make bootstrap to separate script
  .tool-versions
  CONTRIBUTING.md
  Makefile
  lefthook.yml
  scripts/bootstrap.sh
Due: check_go_generated_code, lint, run_tests

fix: move token cache info and delete file
  docs/source/cluster/agent/token-cache.md
  docs/source/cluster/agent/token-cache/_index.md
  internal/commands/cluster/agent/token_cache/token_cache.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module golang.org/x/crypto to v0.45.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(dependencies): roll documentation linting tool versions forward
  .gitlab-ci.yml
  .markdownlint-cli2.yaml
  .tool-versions
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

ci(docs): update Hugo test build
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

fix(check-update): avoid using self-hosted credentials for gitlab.com
  docs/source/check-update/_index.md
  internal/commands/update/check_update.go
  internal/commands/update/check_update_test.go
Due: check_go_generated_code, lint, run_tests

chore: remove legacy install instruction for script
  docs/installation_options.md
Due: none

fix: improve token duration flag clarity and consistency
  docs/source/token/create.md
  docs/source/token/rotate.md
  internal/commands/token/create/create.go
  internal/commands/token/rotate/rotate.go
  internal/commands/token/tokenduration/tokenduration.go
  internal/commands/token/tokenduration/tokenduration_test.go
Due: check_go_generated_code, lint, run_tests

Path conditions:
  check_go_generated_code: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  lint: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  run_tests: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  release_test: any of: .goreleaser.yml, .gitlab-ci.yml
  windows_installer: any of: .goreleaser.yml, .gitlab-ci.yml
  build_windows: any of: .goreleaser.yml, .gitlab-ci.yml
