Repository gl-cli/glab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

check_go_generated_code:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: test
  needs: []
  script:
  - chmod 600 internal/config/config.yaml.lock
  - make generate
  ...

lint:
  stage: test
  image: ${GITLAB_DEPENDENCY_PROXY}golangci/golangci-lint:v$GOLANGCI_LINT_VERSION
  script:
  - golangci-lint run --output.text.path=stdout --output.text.colors=false --output.text.print-issued-lines=false --output.code-climate.path=gl-code-quality-report.json
  artifacts:
    reports:
  ...

run_tests:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
    CGO_ENABLED: '1'
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: test
  script:
  ...

release_test:
  image: ${GITLAB_DEPENDENCY_PROXY}docker:stable
  stage: release
  artifacts:
    expire_in: 1 week
    name: goreleaser-artifacts
    paths:
    - dist/
  variables:
    GCLOUD_PROJECT: gitlab-ci-runners-signing
    SERVICE_ACCOUNT: gitlab-cli-signer@gitlab-ci-runners-signing.iam.gserviceaccount.com
  ...

windows_installer:
  stage: release
  image:
    name: amake/innosetup
    entrypoint:
    - ''
  before_script:
  - - "if [ -d \"signed/\" ]; then\n  echo \"Using signed binaries\"\n  rm -rf bin/\n  mv signed bin\n  ls -al bin\nelse\n  echo \"Using unsigned binaries\"\nfi\n"
  script:
  - mv scripts/setup_windows.iss .
  ...

build_windows:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: release
  needs: []
  script:
  - GOOS=windows GOARCH=amd64 make build
  - mv bin/glab bin/glab.exe
  ...

chore(deps): update dependency @commitlint/format to ^20.2.0
  scripts/commit-lint/package-lock.json
  scripts/commit-lint/package.json
Due: check_go_generated_code, lint, run_tests

chore(deps): update dependency @commitlint/read to ^20.2.0
  scripts/commit-lint/package-lock.json
  scripts/commit-lint/package.json
Due: check_go_generated_code, lint, run_tests

fix(installer): support non-admin Windows installation mode
  scripts/setup_windows.iss
Due: check_go_generated_code, lint, run_tests

fix(variable export): provide clean JSON output on stdout
  internal/commands/variable/export/export.go
  internal/commands/variable/export/export_test.go
Due: check_go_generated_code, lint, run_tests

chore: remove explicit Go version requirements in docs and direct to SSOT
  CONTRIBUTING.md
  README.md
Due: none

chore: improve changelog and add slack announce
  .gitlab-ci.yml
  .goreleaser.yml
  docs/slack_notifications.md
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(deps): update dependency markdownlint-cli2 to v0.20.0
  .tool-versions
Due: none

chore(deps): update dependency golangci-lint to v2.7.2
  .tool-versions
Due: none

feat: migrate prompts from survey to huh
  internal/cmdutils/cmdutils.go
  internal/cmdutils/cmdutils_test.go
  internal/commands/issuable/note/issuable_note_create_test.go
  internal/commands/issue/board/create/issue_board_create.go
  internal/commands/issue/create/issue_create.go
  internal/commands/issue/update/issue_update.go
  internal/commands/mr/create/mr_create.go
  internal/commands/mr/create/mr_create_test.go
  internal/commands/mr/merge/mr_merge.go
  internal/commands/mr/note/mr_note_create_test.go
  internal/commands/mr/update/mr_update.go
  internal/commands/release/create/create.go
  internal/commands/stack/create/stack_create.go
  internal/commands/stack/create/stack_create_test.go
  internal/commands/stack/stack.go
  internal/iostreams/iostreams.go
  internal/theme/gitlab.go
Due: check_go_generated_code, lint, run_tests

chore(tooling): update golangci lint version
  Makefile
Due: check_go_generated_code, lint, run_tests

chore(deps): update module golang.org/x/sync to v0.19.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

fix(repo list): --group with --include-subgroups does not work with --all
  internal/commands/project/list/list.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module golang.org/x/term to v0.38.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update module golang.org/x/crypto to v0.46.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

fix(mr): enable label priority ordering for project and group MRs
  docs/source/mr/list.md
  internal/api/merge_request.go
  internal/commands/mr/list/mr_list.go
  internal/commands/mr/list/mr_list_test.go
Due: check_go_generated_code, lint, run_tests

chore: migrate note commands from utils.Editor() to IOStreams.Editor()
  internal/cmdutils/cmdutils.go
  internal/commands/issuable/note/issuable_note_create.go
  internal/commands/issue/update/issue_update.go
  internal/commands/mr/merge/mr_merge.go
  internal/commands/mr/note/mr_note_create.go
  internal/commands/mr/update/mr_update.go
  internal/commands/release/create/create.go
  internal/commands/stack/reorder/prompt.go
  internal/commands/stack/reorder/prompt_test.go
  internal/commands/stack/reorder/stack_reorder.go
  internal/commands/stack/save/prompt.go
  internal/commands/stack/save/prompt_test.go
  internal/commands/stack/save/stack_amend.go
  internal/commands/stack/save/stack_amend_test.go
  internal/commands/stack/save/stack_save.go
  internal/commands/stack/stack.go
  internal/iostreams/iostreams.go
Due: check_go_generated_code, lint, run_tests

chore: remove legacy prompt package and complete huh migration
  internal/cmdutils/cmdutils_test.go
  internal/commands/issuable/note/issuable_note_create_test.go
  internal/commands/mr/create/mr_create_test.go
  internal/commands/mr/note/mr_note_create.go
  internal/commands/mr/note/mr_note_create_test.go
  internal/commands/stack/create/stack_create_test.go
  internal/prompt/prompt.go
  internal/prompt/stubber.go
  internal/utils/manip.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module k8s.io/apimachinery to v0.34.3
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): update module k8s.io/client-go to v0.34.3
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

feat(release): fallback to predefined CI/CD variable for default branch
  internal/commands/release/create/create.go
  internal/commands/release/create/create_test.go
Due: check_go_generated_code, lint, run_tests

Path conditions:
  check_go_generated_code: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  lint: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  run_tests: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  release_test: any of: .goreleaser.yml, .gitlab-ci.yml
  windows_installer: any of: .goreleaser.yml, .gitlab-ci.yml
  build_windows: any of: .goreleaser.yml, .gitlab-ci.yml
