Repository gl-cli/glab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

check_go_generated_code:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: test
  needs: []
  script:
  - chmod 600 internal/config/config.yaml.lock
  - make generate
  ...

lint:
  stage: test
  image: ${GITLAB_DEPENDENCY_PROXY}golangci/golangci-lint:v$GOLANGCI_LINT_VERSION
  script:
  - golangci-lint run --output.text.path=stdout --output.text.colors=false --output.text.print-issued-lines=false --output.code-climate.path=gl-code-quality-report.json
  artifacts:
    reports:
  ...

run_tests:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
    CGO_ENABLED: '1'
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: test
  script:
  ...

release_test:
  image: ${GITLAB_DEPENDENCY_PROXY}docker:stable
  stage: release
  artifacts:
    expire_in: 1 week
    name: goreleaser-artifacts
    paths:
    - dist/
  variables:
    GCLOUD_PROJECT: gitlab-ci-runners-signing
    SERVICE_ACCOUNT: gitlab-cli-signer@gitlab-ci-runners-signing.iam.gserviceaccount.com
  ...

windows_installer:
  stage: release
  image:
    name: amake/innosetup
    entrypoint:
    - ''
  before_script:
  - - "if [ -d \"signed/\" ]; then\n  echo \"Using signed binaries\"\n  rm -rf bin/\n  mv signed bin\n  ls -al bin\nelse\n  echo \"Using unsigned binaries\"\nfi\n"
  script:
  - mv scripts/setup_windows.iss .
  ...

build_windows:
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/.golangci-lint
  before_script:
  - mkdir -p .go .golangci-lint
  cache:
    paths:
    - .go/pkg/mod/
    - .golangci-lint/
  stage: release
  needs: []
  script:
  - GOOS=windows GOARCH=amd64 make build
  - mv bin/glab bin/glab.exe
  ...

build: adding s390x linux build
  .goreleaser.yml
Due: release_test, windows_installer, build_windows

feat(members): add commands to manage project members
  docs/source/repo/members/_index.md
  docs/source/repo/members/add.md
  docs/source/repo/members/index.md
  docs/source/repo/members/remove.md
  internal/commands/project/members/add/add.go
  internal/commands/project/members/add/add_test.go
  internal/commands/project/members/add/example.md
  internal/commands/project/members/add/long.md
  internal/commands/project/members/members.go
  internal/commands/project/members/members_test.go
  internal/commands/project/members/remove/remove.go
  internal/commands/project/members/remove/remove_test.go
  internal/commands/project/repo.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module gitlab.com/gitlab-org/api/client-go to v0.157.1
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

fix(config): implement XDG Base Directory Spec compliance
  README.md
  go.mod
  go.sum
  internal/config/config_file.go
  internal/config/config_file_test.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update module github.com/docker/cli to v28.5.1+incompatible
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

feat(gpg-key): add gpg-key management commands
  docs/source/_index.md
  docs/source/gpg-key/_index.md
  docs/source/gpg-key/add.md
  docs/source/gpg-key/delete.md
  docs/source/gpg-key/get.md
  docs/source/gpg-key/list.md
  internal/commands/gpg-key/add/add.go
  internal/commands/gpg-key/add/add_test.go
  internal/commands/gpg-key/add/testdata/testkey.gpg
  internal/commands/gpg-key/delete/delete.go
  internal/commands/gpg-key/delete/delete_test.go
  internal/commands/gpg-key/get/get.go
  internal/commands/gpg-key/get/get_test.go
  internal/commands/gpg-key/gpg-key.go
  internal/commands/gpg-key/gpg-key_test.go
  internal/commands/gpg-key/list/list.go
  internal/commands/gpg-key/list/list_test.go
  internal/commands/root.go
  internal/testing/cmdtest/helper.go
Due: check_go_generated_code, lint, run_tests

docs(repo-list): clarify available options
  docs/source/repo/list.md
  internal/commands/project/list/list.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update dependency golangci-lint to v2.6.0
  .tool-versions
Due: none

feat(ci-view): view any pipeline via id
  docs/source/ci/view.md
  internal/commands/ci/view/view.go
  internal/commands/ci/view/view_test.go
Due: check_go_generated_code, lint, run_tests

fix(docs): remove index with no underscore
  docs/source/repo/members/index.md
Due: none

feat(auth login): auto-detect GitLab URLs from git remotes
  README.md
  docs/source/auth/login.md
  internal/commands/auth/login/helper.go
  internal/commands/auth/login/helper_test.go
  internal/commands/auth/login/login.go
Due: check_go_generated_code, lint, run_tests

chore(release-docs): update the release docs
  docs/release_process.md
Due: none

feat: create shared GitLab theme for Charm libraries
  cmd/glab/main.go
  internal/commands/root.go
  internal/iostreams/iostreams.go
  internal/theme/gitlab.go
Due: check_go_generated_code, lint, run_tests

chore: use a post-build hook to sign binaries
  .goreleaser.yml
  scripts/sign-binary.sh
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(ci): update image versions
  .gitlab-ci.yml
  Makefile
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(snapcraft): add more information on how the package is built
  docs/release_process.md
Due: none

fix: sign macOS binaries
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

feat: migrate Confirm prompts from survey to huh
  internal/commands/auth/authutils/git_credentials.go
  internal/commands/auth/login/login.go
  internal/theme/gitlab.go
Due: check_go_generated_code, lint, run_tests

docs(release-process): remove outdated info
  docs/release_process.md
Due: none

chore(deps): update module gitlab.com/gitlab-org/api/client-go to v0.158.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(docs): prep for Hugo site
  .gitlab-ci.yml
  cmd/gen-docs/docs.go
  docs/source/_index.md
  docs/source/img/glabgettingstarted.gif
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(docs): Move images to source directory
  README.md
  docs/assets/glabgettingstarted.gif
  docs/source/img/command-example.png
  docs/source/img/glab-logo.png
Due: none

chore(docs): updates name on docs index page
  .gitlab-ci.yml
  cmd/gen-docs/docs.go
  docs/source/_index.md
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(tests): create tests for all ssh-key commands
  internal/commands/ssh-key/add/add.go
  internal/commands/ssh-key/add/add_test.go
  internal/commands/ssh-key/add/testdata/testkey.key
  internal/commands/ssh-key/delete/delete.go
  internal/commands/ssh-key/delete/delete_test.go
  internal/commands/ssh-key/get/get_test.go
  internal/commands/ssh-key/ssh-key_test.go
Due: check_go_generated_code, lint, run_tests

chore(deps): update dependency golangci-lint to v2.6.1
  .tool-versions
Due: none

fix(logger): clarify log target
  cmd/glab/main.go
  cmd/glab/telemetry.go
  internal/commands/cluster/agent/check_manifest_usage/check_manifest_usage.go
  internal/commands/cluster/graph/server.go
  internal/commands/deploy-key/add/add.go
  internal/commands/deploy-key/add/add_test.go
  internal/commands/deploy-key/delete/delete.go
  internal/commands/deploy-key/delete/delete_test.go
  internal/commands/project/publish/catalog/publish.go
  internal/commands/project/publish/catalog/publish_test.go
  internal/commands/release/create/create.go
  internal/commands/release/create/create_test.go
  internal/commands/release/delete/delete.go
  internal/commands/release/delete/delete_test.go
  internal/commands/release/download/download.go
  internal/commands/release/releaseutils/releaseutils.go
  internal/commands/release/releaseutils/upload/upload.go
  internal/commands/release/upload/upload.go
  internal/commands/release/upload/upload_test.go
  internal/commands/release/view/view.go
  internal/commands/securefile/create/create.go
  internal/commands/securefile/create/create_test.go
  internal/commands/securefile/remove/remove.go
  internal/commands/securefile/remove/remove_test.go
  internal/commands/ssh-key/delete/delete.go
  internal/commands/update/check_update.go
  internal/commands/update/check_update_test.go
  internal/commands/variable/export/export.go
  internal/commands/variable/export/export_test.go
  internal/commands/variable/list/list.go
  internal/iostreams/logger.go
Due: check_go_generated_code, lint, run_tests

fix(config): maintain backward compatibility with legacy config path
  README.md
  internal/config/config_file.go
  internal/config/config_file_test.go
Due: check_go_generated_code, lint, run_tests

chore(ci): snapcraft and build stage
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(mr-template): update template
  .gitlab/merge_request_templates/Default.md
Due: check_go_generated_code, lint, run_tests

fix(ci): snapcraft remove proxy
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(deps): update module gitlab.com/gitlab-org/api/client-go to v0.159.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

fix(config): deduplicate paths in config file detection
  internal/config/config_file.go
Due: check_go_generated_code, lint, run_tests

feat(label): edit labels
  docs/source/label/_index.md
  docs/source/label/edit.md
  docs/source/label/get.md
  internal/commands/label/create/label_create.go
  internal/commands/label/edit/label_edit.go
  internal/commands/label/edit/label_edit_test.go
  internal/commands/label/get/label_get.go
  internal/commands/label/get/label_get_test.go
  internal/commands/label/label.go
  internal/commands/label/list/label_list.go
  internal/commands/label/list/label_list_test.go
Due: check_go_generated_code, lint, run_tests

chore(ci): automate snapcraft build and publishing
  .gitlab-ci.yml
  docs/installation_options.md
  docs/release_process.md
  snap/snapcraft.yaml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(ci): start tests immediately
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(contributing): fix the vscode debug command
  .vscode/launch.json
  CONTRIBUTING.md
Due: none

chore(deps): bump go to v1.25.4
  go.mod
Due: check_go_generated_code, lint, run_tests

chore(deps): update dependency go to v1.25.4
  .gitlab-ci.yml
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

chore(deps): update module github.com/mark3labs/mcp-go to v0.43.0
  go.mod
  go.sum
Due: check_go_generated_code, lint, run_tests

chore(deps): bump all Go versions to 1.25.4
  .gitlab-ci.yml
  .tool-versions
Due: check_go_generated_code, lint, run_tests, release_test, windows_installer, build_windows

Path conditions:
  check_go_generated_code: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  lint: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  run_tests: any of: .gitlab/**/*, **/*.go, scripts/**/*, test/**/*, .gitignore, .gitlab-ci.yml, .golangci.yml, Dangerfile, Makefile, go.mod, go.sum
  release_test: any of: .goreleaser.yml, .gitlab-ci.yml
  windows_installer: any of: .goreleaser.yml, .gitlab-ci.yml
  build_windows: any of: .goreleaser.yml, .gitlab-ci.yml
